<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>乐闯美术</title>
    <link rel="stylesheet" type="text/css" href="${site}${css}index.css" />
    <script type="text/javascript" src="${site}${js}myfocus-2.0.2.min.js"></script>
    <script type="text/javascript" src="${site}${js}mf-pattern/mF_pconline.js"></script>
    <link rel="stylesheet" type="text/css" href="${site}${js}mf-pattern/mF_pconline.css" />
    <script type="text/javascript" src="${site}${js}jquery-1.3.1.js"></script>
    <script type="text/javascript">
        myFocus.set({
            id: 'boxID', //焦点图盒子ID
            pattern: 'mF_pconline', //风格应用的名称
            time: 3, //切换时间间隔(秒)
            trigger: 'mouseover', //触发切换模式:'click'(点击)/'mouseover'(悬停)
            width: 684, //设置图片区域宽度(像素)
            height: 293, //设置图片区域高度(像素)
            txtHeight: 'default'//文字层高度设置(像素),'default'为默认高度，0为隐藏
        });
    </script>
</head>
<body>
    <div class="newsmain">
        <!--导航-->
        <div class="arttop">
            <div class="artlogo">
                <img src="${site}${images}meixiaologo.jpg" />
            </div>
            <div class="artnav">
                <ul>
                    <li><a href="${site}index">网站首页</a></li>
                    <li><a href="${site}news">新闻中心</a></li>
                    <li><a href="${site}art" class="active">乐闯美校</a></li>
                    <li><a href="${site}arthome">乐闯美术馆</a></li>
                    <li><a href="${site}gongyi">乐闯公益</a></li>
                    <li><a href="${site}wenhua">乐闯文化</a></li>
                    <li><a href="${site}zanzhu">捐赠赞助</a></li>
                    <li><a href="${site}contactus">联系我们</a></li>
                </ul>
            </div>
            <div class="arttopfoot clearfix">
            </div>
        </div>
        <!--导航-->
        <!--内容-->
        <div class="artcontent">
            <!--内容左边-->
            <div class="artcontentleft">
                <!--内容左边导航-->
                <div class="artcontentlefttop">
                    <div class="artcontentlefttopultitle">
                        乐闯美校
                    </div>
                    <ul class="artul">
                        <li><a href="${site}art/list/7 ">学校概况</a></li>
                        <li><a href="${site}art/list/8 ">学科课程</a></li>
                        <li><a href="${site}art/list/9 ">学生风采</a></li>
                    </ul>
                </div>
                <!--内容左边导航-->
                <!--内容左边文章列表-->
                <div class="artcontentleftbottom">
                    <div class="artlefttitle">
                        <div class="bk">
                        </div>
                        <div class="jibt">
                            学校概况
                        </div>
                    </div>
                    <div class="artleftul">
                        <ul>
                            #foreach($l in $lechuangNews)
                            <li><a href="${site}art/detail/${l.id}">${l.title}</a></li>
                            #end
                        </ul>
                    </div>
                </div>
                <!--内容左边文章列表-->
            </div>
            <!--内容左边-->
            <!--内容右边-->
            <div class="artcontentright">
                <!--内容右边轮播图-->
                <div class="artcontentrightlb">
                    <div id="boxID">
                        <div class="pic">
                            <ul>
                                #set($var=7) #foreach($p in $paths)
                                <li>
                                    <a href="${site}art/list/${var}">
                                        <img src="${site}${p.src.SubString(1)}" thumb="" alt="" text="${p.title}" />
                                    </a>
                                </li>
                                #set($var = $var+1) #end
                            </ul>
                        </div>
                    </div>
                </div>
                <!--内容右边轮播图-->
                <div class="artcontentrightbottom">
                    <!--内容右边文章列表-->
                    <div class="artrightleft">
                        <div class="artrightlefttitle">
                            <div class="bk">
                            </div>
                            <div class="jibt">
                                学科课程
                            </div>
                            <div class="more">
                                <a href="${site}art/list/8">MORE</a>
                            </div>
                        </div>
                        <div class="artrightleftul">
                            <ul>
                                #foreach($l in $artNews)
                                <li>
                                    <span style="width: 9px; height: 20px; line-height: 20px; float: left; margin-right: 5px;
                                    margin-left: 5px;">
                                        <img src="${images}dian.png" />
                                    </span><a href="${site}art/detail/${l.id}">${l.title}</a><span>${l.createtime.ToShortDateString()}</span>
                                </li>
                                #end
                            </ul>
                        </div>
                    </div>
                    <!--内容右边文章列表-->
                    <!--内容右边图片展示-->
                    <div class="artrightr">
                        <div class="artrightrtitle">
                            <div class="bk">
                            </div>
                            <div class="jibt">
                                学生风采
                            </div>
                            <div class="fc">
                                <img src="${site}${images}mxfc.jpg" />
                            </div>
                        </div>
                        <div class="artrightrsp">
                            #foreach($l in $path)
                            <a href="${site}art/detail/${l.id}">
                                <img src="${site}${l.src.SubString(1)}" width="216" height="126" />
                            </a>
                            #end
                        </div>
                    </div>
                    <!--内容右边图片展示-->
                </div>
            </div>
            <!--内容右边-->
        </div>
        <!--内容-->
        <!--尾部-->
        <div class="foot">
            <div class="footcontent">
                <p>
                    广西南宁乐闯文化传播有限公司
                </p>
                <p>
                    电话：13307731021 邮箱：lechuangarts@163.com 地址：广西南宁市青秀区汇春路3号英华楼7楼715号
                </p>
            </div>
        </div>
        <!--尾部-->
    </div>
</body>
</html>
