<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>乐闯美术</title>
    <link rel="stylesheet" type="text/css" href="${css}index.css" />
    <script type="text/javascript" src="${js}myfocus-2.0.2.min.js"></script>
    <script type="text/javascript" src="${js}mf-pattern/mF_expo2010.js"></script>
    <script type="text/javascript" src="${js}jquery-1.3.1.js"></script>
    <script type="text/javascript">
        myFocus.set({
            id: 'boxID',//焦点图盒子ID
            pattern: 'mF_expo2010',//风格应用的名称
            time: 3,//切换时间间隔(秒)
            trigger: 'mouseover',//触发切换模式:'click'(点击)/'mouseover'(悬停)
            width: 684,//设置图片区域宽度(像素)
            height: 293,//设置图片区域高度(像素)
            txtHeight: 'default'//文字层高度设置(像素),'default'为默认高度，0为隐藏
        });
    </script>
</head>
<body>
    <div class="newsmain">

        <!--导航-->
        <div class="arthometop">
            <div class="arthomelogo">
                <img src=" ${images}meishuguanglogo.jpg" />
            </div>
            <div class="arthomenav">
                <ul>
                    <li><a href="${site}index" class="active">网站首页</a></li>
                    <li><a href="${site}news">新闻中心</a></li>
                    <li><a href="${site}art">乐闯美校</a></li>
                    <li><a href="${site}arthome" class="active">乐闯美术馆</a></li>
                    <li><a href="${site}gongyi">乐闯公益</a></li>
                    <li><a href="${site}wenhua">乐闯文化</a></li>
                    <li><a href="${site}zanzhu">捐赠赞助</a></li>
                    <li><a href="${site}contactus">联系我们</a></li>
                </ul>
            </div>
            <div class="arthometopfoot clearfix">
            </div>
        </div>
        <!--导航-->
        <!--内容-->
        <div class="arthomecontent">

            <!--内容左边-->
            <div class="arthomecontentleft">
                <!--内容左边导航-->
                <div class="arthomecontentlefttop">
                    <div class="arthomecontentlefttopultitle">乐闯美术馆</div>
                    <ul class="arthomeul">
                        <li><a href="list.html">展示鉴赏</a></li>
                        <li><a href="list.html">传播教育</a></li>
                        <li><a href="list.html">签约画家</a></li>
                        <li><a href="list.html">艺术商店</a></li>
                    </ul>
                </div>
                <!--内容左边导航-->
                <!--内容左边文章列表-->
                <div class="arthomecontentleftbottom">
                    <div class="arthomelefttitle">
                        <div class="jibt" style=" margin-left:13px;">传播教育</div>
                        <div class="more"><a href="#">MORE</a></div>
                    </div>
                    <div class="arthomeleftul">
                        <ul>
                            <li><img src=" ${images}meishuguangjiaoyu.jpg" /><br /><a href="#">某某绘画技巧教学</a></li>
                            <li><img src=" ${images}meishuguangjiaoyu.jpg" /><br /><a href="#">某某绘画技巧教学</a></li>
                        </ul>
                    </div>
                </div>
                <!--内容左边文章列表-->
            </div>
            <!--内容左边-->
            <!--内容右边-->
            <div class="arthomecontentright">
                <!--内容右边轮播图-->
                <div class="arthomecontentrightlb">
                    <div id="boxID">
                        <div class="pic">
                            <ul>
                                <li><a href="#"><img src=" ${images}meishuguanglb.jpg" thumb="" alt="" text="乐闯美术" /></a></li>
                                <li><a href="#"><img src=" ${images}meishuguanglb.jpg" thumb="" alt="" text="乐闯美术" /></a></li>
                                <li><a href="#"><img src=" ${images}meishuguanglb.jpg" thumb="" alt="" text="乐闯美术" /></a></li>
                                <li><a href="#"><img src=" ${images}meishuguanglb.jpg" thumb="" alt="" text="乐闯美术" /></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--内容右边轮播图-->

                <div class="arthomecontentrightbottom">
                    <!--内容右边图片展示-->
                    <div class="arthomerightleft">
                        <div class="arthomerightlefttitle">
                            <div class="bk"></div>
                            <div class="jibt">展示鉴赏</div>
                            <div class="more"><a href="#">MORE</a></div>
                        </div>
                        <div class="arthomerightleftul">
                            <ul>
                                <li><a href="#"><img src=" ${images}meishuguangzs.jpg" /></a></li>
                                <li><a href="#"><img src=" ${images}meishuguangzs.jpg" /></a></li>
                                <li><a href="#"><img src=" ${images}meishuguangzs.jpg" /></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--内容右边图片展示-->
                </div>

            </div>
            <!--内容右边-->

        </div>
        <!--内容-->
        <!--尾部-->
        <div class="foot">
            <div class="footcontent">
                <p>广西南宁乐闯文化传播有限公司</p>
                <p>电话：13307731021 邮箱：lechuangarts@163.com 地址：广西南宁市青秀区汇春路3号英华楼7楼715号</p>
            </div>
        </div>
        <!--尾部-->
    </div>
</body>
</html>
