<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>乐闯美术</title>
    <link rel="stylesheet" type="text/css" href="${site}${css}index.css" />
    <script type="text/javascript" src="${site}${js}myfocus-2.0.2.min.js"></script>
    <script type="text/javascript" src="${site}${js}mf-pattern/mF_expo2010.js"></script>
    <link rel="stylesheet" type="text/css" href="${site}${js}mf-pattern/mF_expo2010.css" />
    <script type="text/javascript" src="${site}${js}jquery-1.3.1.js"></script>
    <script type="text/javascript">
        myFocus.set({
            id: 'boxID', //焦点图盒子ID
            pattern: 'mF_expo2010', //风格应用的名称
            time: 3, //切换时间间隔(秒)
            trigger: 'mouseover', //触发切换模式:'click'(点击)/'mouseover'(悬停)
            width: 684, //设置图片区域宽度(像素)
            height: 293, //设置图片区域高度(像素)
            txtHeight: 'default'//文字层高度设置(像素),'default'为默认高度，0为隐藏
        });
    </script>
</head>
<body>
    <div class="newsmain">
        <!--导航-->
        <div class="arthometop">
            <div class="arthomelogo">
                <img src="${site}${images}meishuguanglogo.jpg" />
            </div>
            <div class="arthomenav">
                <ul>
                    <li><a href="${site}index">网站首页</a></li>
                    <li><a href="${site}news">新闻中心</a></li>
                    <li><a href="${site}art">乐闯美校</a></li>
                    <li><a href="${site}arthome" class="active">乐闯美术馆</a></li>
                    <li><a href="${site}gongyi">乐闯公益</a></li>
                    <li><a href="${site}wenhua">乐闯文化</a></li>
                    <li><a href="${site}zanzhu">捐赠赞助</a></li>
                    <li><a href="${site}contactus">联系我们</a></li>
                </ul>
            </div>
            <div class="arthometopfoot clearfix">
            </div>
        </div>
        <!--导航-->
        <!--内容-->
        <div class="newscontent clearfix">
            <!--内容左边-->
            <div class="newscontentleft">
                <!--内容左边导航-->
                <div class="arthomecontentlefttop">
                    <div class="arthomecontentlefttopultitle">
                        乐闯美术馆
                    </div>
                    <ul class="arthomeul">
                        #if(${active}==11)
                        <li><a href="${site}arthome/list/11" class="active">展示鉴赏</a></li>
                        <li><a href="${site}arthome/list/12">传播教育</a></li>
                        <li><a href="${site}arthome/list/13">签约画家</a></li>
                        <li><a href="${site}arthome/list/14">艺术商店</a></li>
                        #elseif(${active}==12)
                        <li><a href="${site}arthome/list/11">展示鉴赏</a></li>
                        <li><a href="${site}arthome/list/12" class="active">传播教育</a></li>
                        <li><a href="${site}arthome/list/13">签约画家</a></li>
                        <li><a href="${site}arthome/list/14">艺术商店</a></li>
                        #elseif(${active}==13)
                        <li><a href="${site}arthome/list/11">展示鉴赏</a></li>
                        <li><a href="${site}arthome/list/12">传播教育</a></li>
                        <li><a href="${site}arthome/list/13" class="active">签约画家</a></li>
                        <li><a href="${site}arthome/list/14">艺术商店</a></li>
                        #elseif(${active}==14)
                        <li><a href="${site}arthome/list/11">展示鉴赏</a></li>
                        <li><a href="${site}arthome/list/12">传播教育</a></li>
                        <li><a href="${site}arthome/list/13">签约画家</a></li>
                        <li><a href="${site}arthome/list/14" class="active">艺术商店</a></li>
                        #else
                        <li><a href="${site}arthome/list/11" class="active">展示鉴赏</a></li>
                        <li><a href="${site}arthome/list/12">传播教育</a></li>
                        <li><a href="${site}arthome/list/13">签约画家</a></li>
                        <li><a href="${site}arthome/list/14">艺术商店</a></li>
                        #end
                    </ul>
                </div>
                <!--内容左边导航-->
            </div>
            <!--内容左边-->
            <!--内容右边-->
            <div class="newscontentright clearfix">
                <div class="newsdetailr clearfix">
                    <!--内容右边文章列表-->
                    <div class="newslistrtitle">
                        <a href="${site}arthome">乐闯美术馆</a> > ${cateName} > ${article.title}
                    </div>
                    <div class="newslistrul">
                        <div class="detailarticle clearfix">
                            <div class="articletop">
                                <div class="articletitle">
                                    ${article.title}
                                </div>
                                <div class="articletime">
                                    来源： ${article.from}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作者： ${article.author}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间： ${article.createtime}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                            <div class="detailcontent clearfix">
                                ${article.body}
                            </div>
                        </div>
                    </div>
                    <!--内容右边文章列表-->
                </div>
            </div>
            <!--内容右边-->
        </div>
        <!--内容-->
        <!--尾部-->
        <div class="foot">
            <div class="footcontent">
                <p>
                    广西南宁乐闯文化传播有限公司
                </p>
                <p>
                    电话：13307731021 邮箱：lechuangarts@163.com 地址：广西南宁市青秀区汇春路3号英华楼7楼715号
                </p>
            </div>
        </div>
        <!--尾部-->
    </div>
</body>
<div class="side-bar"> 
	<img style="width:138px;height:138px;" src="${site}${images}22.png" alt="微信订阅号">
</div>
</html>
