<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>乐闯美术</title>
    <link rel="stylesheet" type="text/css" href="${site}${css}index.css" />

</head>
<body>
    <div class="newsmain">

        <!--导航-->
        <div class="contactustop">
            <div class="contactuslogo">
                <img src=" ${site}${images}indexlogo.png" />
            </div>
            <div class="contactusnav">
                <ul>
                    <li><a href="${site}index">网站首页</a></li>
                    <li><a href="${site}news">新闻中心</a></li>
                    <li><a href="${site}art">乐闯美校</a></li>
                    <li><a href="${site}arthome">乐闯美术馆</a></li>
                    <li><a href="${site}gongyi">乐闯公益</a></li>
                    <li><a href="${site}wenhua">乐闯文化</a></li>
                    <li><a href="${site}zanzhu">捐赠赞助</a></li>
                    <li><a href="${site}contactus" class="active">联系我们</a></li>
                </ul>
            </div>
            <div class="contactustopfoot clearfix">
            </div>
        </div>
        <!--导航-->
        <!--内容-->
        <div class="contactuscontent">

            <div class="contactusctop">
                <h1>联系我们</h1>
            </div>
            <div class="contactuscb">

                <!--内容左边-->
                <div class="contactuscontentleft">
                    <!--内容左边导航-->
                    <div class="contactuscontentlefttop">
                        <ul class="contactusul">
                            <li><a href="${site}contactus" class="active">乐闯学校</a></li>
                            <li><a href="${site}contactus/meishuguan">乐闯美术馆</a></li>
                            <li><a href="${site}contactus/gongyi">乐闯公益</a></li>
                            <li><a href="${site}contactus/wenhua">乐闯文化</a></li>
                        </ul>
                    </div>
                    <!--内容左边导航-->
                </div>
                <!--内容左边-->
                <!--内容右边-->
                <div class="contactuscontentright">
                    <!--内容右边轮播图-->
                    <div class="contactuscontentrightlb">
                        <div class="gz">
                            ${article.body}
                        </div>
                    </div>
                    <!--内容右边轮播图-->
                </div>
                <!--内容右边-->
            </div>

        </div>
        <!--内容-->
        <!--尾部-->
        <div class="foot">
            <div class="footcontent">
                <p>广西南宁乐闯文化传播有限公司</p>
                <p>电话：13307731021 邮箱：lechuangarts@163.com 地址：广西南宁市青秀区汇春路3号英华楼7楼715号</p>
            </div>
        </div>
        <!--尾部-->
    </div>
</body>
<div class="side-bar"> 
	<img style="width:138px;height:138px;" src="${site}${images}22.png" alt="微信订阅号">
</div>
</html>
